[build]
builder = "nixpacks"

[deploy]
startCommand = "python api/APP_GENERATOR_API.py"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
